{% extends 'twig_heritage/template.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post" name="login">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
        <label for="inputUsername">Nom d'utilisateur / email</label>
        <input type="email" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>
        <div class="row d-none d-lg-block">
            <button class="btn btn-lg  btn-primary  col-2 offset-1" type="submit">
                Connecter
            </button>
            <div class="btn  btn-link col-3 offset-2">
                <a href="{{ path('app_register') }}">S'enregistrer</a>
            </div>
        </div>
         <div class="row d-block d-lg-none">
            <button class="btn  btn-primary " type="submit">
                Connecter
            </button>
            <div class="row d-block d-lg-none mt-4">
                <a href="{{ path('app_register') }}">S'enregistrer</a>
            </div>
        </div>



    </form>
    
{% endblock %}
