{% extends 'twig_heritage/template.html.twig' %}

{% block title %}Liste des partenaires{% endblock %}

{% block body %}    
{# affichage de toutes les personnes de la base de données #}
    <h1>Liste des partenaires</h1>
    {# Affichage du filtre #}
    <a href="#" id="openBtn" class="filter-toggle">
        <p>Filtres +</p>
    </a>
    <a href="#" id="closeBtn" class="filter-toggle" style="display: none;">
        <p>Filtres -</p>
    </a>
    {# Filtre #}
    <div id="filter" style="margin-bottom: 2em">
        {% if filterForm is defined %}
            {{ form_start(filterForm, {'method': 'GET'}) }}
                {{ form_row(filterForm.type) }}
                <button type="submit" class="btn btn-primary">Filtrer</button>
            {{ form_end(filterForm) }}
        {% endif %}
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nom</th>  
                    <th scope="col">Type</th> 
                    <th scope="col" class="tableauPoi">Lien</th>                          
                    <th scope="col" class="tableauPoi">Créé par</th>
                    <th scope="col" class="tableauPoi">Logo</th>
                </tr>
            </thead>

            {% for sponsor in sponsors %}

            <tbody>
                    <tr>  
                        <th scope="row">{{ sponsor.name }}</th> 
                        <td class="tableauPoi">{{ sponsor.type }}</td>
                        <td class="tableauPoi">{{ sponsor.link }}</td>                
                        <td class="tableauPoi">{{ sponsor.createdBy.firstname}}</td> 
                        <td class="tableauPoi"><img src="{{ asset('uploads/sponsors/' ~ sponsor.logoSponsorId) }}" style="height:1.8em;" > </td>  
                        <td>
                            <div class='col'>
                                <form action="{{ path('sponsor.edit', {id: sponsor.id}) }}">
                                    <button type="submit"  class="btn btn-secondary btn-sm" class="card-link">Modifier</button>
                                </form>   
                            </div>    
                        </td>   
                       
                        <td>
                            <div class='col'>
                                <form action="{{ path('sponsor.delete', {id: sponsor.id}) }}" method="post">

                                    <input type="hidden" name="_method" value="DELETE">                            

                                    <button type="submit"  class="btn btn-danger btn-sm" class="card-link">Supprimer</button>
                                </form>   
                            </div>    
                        </td>                                              
                    </tr>
            </tbody>
            
            {% endfor %}

        </table>
        {# Pagination #}
    {% if isPaginated and nbrePage > 0 %}
        <div class="row mt-3">
            <nav aria-label="Page navigation">
                <ul class="pagination">             

                    {% set queryParams = app.request.query.all() %}

                    {# Bouton Précédent #}
                    {% if page > 1 %}
                        {% set prevParams = queryParams | merge({'page': page - 1, 'nbre': nbre}) %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('concert.list.filtered', prevParams) }}">Précédent</a>
                        </li>
                    {% endif %}

                    {# Pages #}

                    {% set start = max(page - 1, 1) %}
                    {% set end = min(page + 1, nbrePage) %}

                    {% for p in range(start, end) %}
                        {% set pageParams = queryParams | merge({'page': p, 'nbre': nbre}) %}
                        <li class="page-item {{ p == page ? 'active' : '' }}">
                            <a class="page-link" href="{{ path('concert.list.filtered', pageParams) }}">{{ p }}</a>
                        </li>
                    {% endfor %}

                    {# Bouton Suivant #}
                    {% if page < nbrePage %}
                        {% set nextParams = queryParams | merge({'page': page + 1, 'nbre': nbre}) %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('concert.list.filtered', nextParams) }}">Suivant</a>
                        </li>
                    {% endif %}          
                    
                </ul>
            </nav>
        </div>
    {% endif %}
</div>
    
{% endblock %}

