{% extends 'twig_heritage/template.html.twig'  %}

{% block title %}
    {{ concert.name }}
{% endblock %}

{% block body %}
   <div class="card" style="width: 100%;">
            <div class="card-body">
            
                
            <img src="{{ asset('uploads/concerts/' ~ concert.imageId) }}"style="width:15rem;">
                <h5 class="card-title">{{ concert.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ concert.style }} </h6>
                <h6 class="card-subtitle mb-2 text-muted">{{ concert.location }} </h6>
                <h6 class="card-subtitle mb-2 text-muted">{{ concert.day }} </h6>
                <p class="card-text">Horaire : {{ concert.schedule }}</p>
                <p class="card-text">{{ concert.details }}</p>
                <p class="card-text">{{ concert.details2 }}</p>               
                <p class="card-text">Created by {{ concert.createdBy.firstname }} {{ concert.createdBy.lastname }}</p> 
                <p class="card-text ">Dernière mise à jour par {{ concert.modifiedBy.firstname }} {{ concert.modifiedBy.lastname }}</p>
                

                 {# Lien vers la liste des concerts #}
                <a href="{{ path('concert.list.alls') }}" class="card-link">Retour</a>
               
             </div>
        </div>
{% endblock %}