{# héritage du template de base #}
{% extends 'twig_heritage/template.html.twig' %}

{% block title %}Liste des évènements{% endblock %}

{% block body %}   

     <h1>Liste des évènements</h1>

     <a href="#" id="openBtn" class="filter-toggle" >
        <p>Filtres +</p>
    </a>
    <a href="#" id="closeBtn" class="filter-toggle" style="display: none;">
        <p>Filtres -</p>
    </a>

  {#Affichage du filtre#}
   <div id="filter" style=" margin-bottom: 2em">

        {% if filterForm is defined %}
            {{ form_start(filterForm, {'method': 'GET'}) }}
                {{ form_row(filterForm.day) }}
                {{ form_row(filterForm.schedule) }}
                <button type="submit" class="btn btn-primary">Filtrer</button>
            {{ form_end(filterForm) }}
        {% endif %}
        
    </div>

 {#Affichage des concerts#}
    <div class="row">        
        {% for concert in concerts%}
            <div class="card"  style="width: 18rem;"  >
                <div class="card-body">                    
                    <img src="{{ asset('uploads/concerts/' ~ concert.imageId) }}" style="width:12rem;" >               
                    <h5 class="card-title"  >{{ concert.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ concert.location }} </h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ concert.day }} </h6>
                    <p class="card-text">Horaire : {{ concert.schedule }}</p>
                
                {# Lien vers la page de détail pour le concert sélectionné #}
                    <div class='row'>
                        <div class='col'>
                            <form action="{{ path('concert.detail', {id: concert.id}) }}">
                                <button type="submit"  class="btn btn-info btn-sm" class="card-link">Details</button>
                            </form>
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class='col'>
                                <form action="{{ path('concert.edit', {id: concert.id}) }}">
                                    <button type="submit"  class="btn btn-secondary btn-sm" class="card-link">Modifier</button>
                                </form>   
                            </div>            
                        {#Pour la méthode DELETE , on doit simuler cette méthode car elle n'est pas reconnu par le navigateuir#}
                        
                            <div class='row  mt-4 '>
                                <form action="{{ path('concert.delete',{id: concert.id}) }}" method="post">
                                
                                    <input type="hidden" name="_method" value="DELETE">
                                    
                                    <button type="sutmit" class="btn btn-danger btn-sm ">Supprimer</button>
                                </form>
                            </div> 
                        {% endif %}
                    </div>                             
                </div >
            </div>        
        {% endfor %}
    </div>

    {% if isPaginated and nbrePage > 0 %}
        <div class="row mt-3">
            <nav aria-label="Page navigation">
                <ul class="pagination">             
                    {#récupération des paramètres GET passés dans l'URL et les transformer sous forme de tableau associatif avec la méthode .all()#}
                    {% set queryParams = app.request.query.all() %}

                    {# Bouton Précédent #}
                    {% if page > 1 %}
                        {% set prevParams = queryParams | merge({'page': page - 1, 'nbre': nbre}) %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('concert.list.filtered', prevParams) }}">Précédent</a>
                        </li>
                    {% endif %}

                    {# Pages #}

                    {% set start = max(page - 1, 1) %}
                    {% set end = min(page + 1, nbrePage) %}

                    {% for p in range(start, end) %}
                        {% set pageParams = queryParams | merge({'page': p, 'nbre': nbre}) %}
                        <li class="page-item {{ p == page ? 'active' : '' }}">
                            <a class="page-link" href="{{ path('concert.list.filtered', pageParams) }}">{{ p }}</a>
                        </li>
                    {% endfor %}

                    {# Bouton Suivant #}
                    {% if page < nbrePage %}
                        {% set nextParams = queryParams | merge({'page': page + 1, 'nbre': nbre}) %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('concert.list.filtered', nextParams) }}">Suivant</a>
                        </li>
                    {% endif %}          
                    
                </ul>
            </nav>
        </div>
    {% endif %}
{% endblock %}
