{# héritage du template de base #}
{% extends 'twig_heritage/template.html.twig' %}

{% block title %}Liste des clients{% endblock %}

{% block body %}  
<h1>Liste des clients</h1>
    <div class="row">
        <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="tableauPoi">e-mail</th> 
                        <th scope="col" class="tableauPoi">Prénom</th> 
                        <th scope="col" class="tableauPoi">Nom</th>                                           
                    </tr>
                </thead>
            {% for customer in customers %}
            <tbody>
                <tr>
                    <td class="col tableauPoi">{{ customer.email }}</td>
                    <td class="col">{{ customer.firstname }}</td>
                    <td class="col">{{ customer.lastname }}</td>
                    <td>
                        <div class='col'>
                            <form action="{{ path('customer.detail', {id: customer.id}) }}">
                                <button type="submit"  class="btn btn-secondary btn-sm" class="card-link">Voir</button>
                            </form>   
                            </div>    
                        </td>   
                        <td class="tableauPoi">
                            <div class='col'>
                                <form action="{{ path('customer.delete', {id: customer.id}) }}">
                                    <button type="submit"  class="btn btn-danger btn-sm" class="card-link">Supprimer</button>
                                </form>   
                            </div>    
                        </td>   
                </tr>
            </tbody>

            {% endfor %}
        </table>

{# Pagination #}
    {% if isPaginated and nbrePage > 0 %}
        <div class="row mt-3">
            <nav aria-label="Page navigation">
                <ul class="pagination">             

                    {% set queryParams = app.request.query.all() %}

                    {# Bouton Précédent #}
                    {% if page > 1 %}
                        {% set prevParams = queryParams | merge({'page': page - 1, 'nbre': nbre}) %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('customer.list.alls', prevParams) }}">Précédent</a>
                        </li>
                    {% endif %}

                    {# Pages #}

                    {% set start = max(page - 1, 1) %}
                    {% set end = min(page + 1, nbrePage) %}

                    {% for p in range(start, end) %}
                        {% set pageParams = queryParams | merge({'page': p, 'nbre': nbre}) %}
                        <li class="page-item {{ p == page ? 'active' : '' }}">
                            <a class="page-link" href="{{ path('customer.list.alls', pageParams) }}">{{ p }}</a>
                        </li>
                    {% endfor %}

                    {# Bouton Suivant #}
                    {% if page < nbrePage %}
                        {% set nextParams = queryParams | merge({'page': page + 1, 'nbre': nbre}) %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('customer.list.alls', nextParams) }}">Suivant</a>
                        </li>
                    {% endif %}          
                    
                </ul>
            </nav>
        </div>
    {% endif %}

    </div>
{% endblock %}