{# héritage du template de base #}
{% extends 'twig_heritage/template.html.twig' %}

{% block title %}Liste des concerts{% endblock %}

{% block body %}    
{# affichage de toutes les personnes de la base de données #}
    <div class="row">
        {% for concert in concerts %}
       
            <div class="card" style="width: 18rem;">
                <div class="card-body">                
                    <img src="{{ asset('uploads/concerts/' ~ concert.imageId) }}" style="width:12rem;">                
                    <h5 class="card-title">{{ concert.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ concert.location }} </h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ concert.day }} </h6>
                    <p class="card-text">Horaire : {{ concert.schedule }}</p>
                    {# Lien vers la page de détail pour la personne sélectionné #}
                    <div class='row'>
                        <div class='col'>
                            <form action="{{ path('concert.detail', {id: concert.id}) }}">
                                <button type="submit"  class="btn btn-info btn-sm" class="card-link">Details</button>
                            </form>
                        </div>
                        <div class='col'>
                            <form action="{{ path('concert.edit', {id: concert.id}) }}">
                                <button type="submit"  class="btn btn-secondary btn-sm" class="card-link">Modifier</button>
                            </form>   
                        </div>            
                    {#Pour la méthode DELETE , on doit simuler cette méthode car elle n'est pas reconnu par le navigateuir#}
                    
                        <div class='row  mt-4 '>
                            <form action="{{ path('concert.delete',{id: concert.id}) }}" method="post">
                            
                                <input type="hidden" name="_method" value="DELETE">
                                
                                <button type="sutmit" class="btn btn-danger btn-sm ">Supprimer</button>
                            </form>
                        </div> 
                    </div>
                    
                
                </div>
            </div>
        {% endfor %}
    </div>
    {% if isPaginated %}
        <div class="row mt-3">
            <nav aria-label="col Page navigation example">
                <ul class="pagination">
                {# Si première page on a pas de bouton Précédnet #}
                    {% if page != 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('concert.list.alls', {page: page-1, nbre: nbre}) }}">Précédent</a>
                    </li>
                    {% endif %}
                    {# Pour i entre 1 et nombre de page on affiche les i #}
                    {% for i in range(1, nbrePage) %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('concert.list.alls', {page: i, nbre: nbre}) }}">{{ i }}</a>
                    </li>  
                    {% endfor %}   
                    {#Lorsque on est sur la dernière page on affiche pas le bouton suivant#}              
                    {% if page != nbrePage %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('concert.list.alls', {page: page+1, nbre: nbre}) }}">Suivant</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
   
    {% endif %}
{% endblock %}
