{% extends 'twig_heritage/template.html.twig' %}

{% block title %}Liste des POI shop{% endblock %}

{% block body %}    
{# affichage de toutes les personnes de la base de données #}
<h1>Liste des boutiques</h1>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nom</th>                            
                    <th scope="col">Latitude (°)</th>
                    <th scope="col">Longitude (°)</th>
                    <th scope="col">Icone (png/jpg)</th>
                    <th scope="col">Largeur (30)</th>
                    <th scope="col">Hauteur (30)</th>
                    <th scope="col">Informations</th>
                </tr>
            </thead>

            {% for shop in shops %}

            <tbody>
                    <tr>  
                        <th scope="row">{{ shop.name }}</th>                 
                        <td>{{ shop.position.lat }}</td>
                        <td>{{ shop.position.lng }}</td>
                        <td>
                            <div>
                                <img src= "{{ asset('uploads/markers/' ~ shop.iconId) }}" height= 25em></td>
                            </div>
                        <td>{{ shop.width }}</td>
                        <td>{{ shop.height }}</td> 
                        <td>{{ shop.info }}</td> 
                        <td>
                            <div class='col'>
                                <form action="{{ path('shop.edit', {id: shop.id}) }}">
                                    <button type="submit"  class="btn btn-secondary btn-sm" class="card-link">Modifier</button>
                                </form>   
                            </div>    
                        </td>   
                        <td>
                            <div class='col'>
                                <form action="{{ path('shop.delete', {id: shop.id}) }}">
                                    <button type="submit"  class="btn btn-danger btn-sm" class="card-link">Supprimer</button>
                                </form>   
                            </div>    
                        </td>                                              
                    </tr>
            </tbody>
            
            {% endfor %}

        </table>

    </div>
{% endblock %}

