{% extends 'twig_heritage/template.html.twig' %}

{% block title %}Liste des POI Camping{% endblock %}

{% block body %}    
{# affichage de toutes les personnes de la base de données #}
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nom</th>                            
                    <th scope="col">Latitude (°)</th>
                    <th scope="col">Longitude (°)</th>
                    <th scope="col">Icone (png/jpg)</th>
                    <th scope="col">Largeur (40)</th>
                    <th scope="col">Hauteur (40)</th>
                    <th scope="col">Informations</th>
                </tr>
            </thead>

            {% for camp in camps %}

            <tbody>
                    <tr>  
                        <th scope="row">{{ camp.name }}</th>                 
                        <td>{{ camp.position.lat }}</td>
                        <td>{{ camp.position.lng }}</td>
                        <td>
                            <div>
                                <img src= "{{ asset('uploads/markers/' ~ camp.iconId) }}" height= 25em></td>
                            </div>
                        <td>{{ camp.width }}</td>
                        <td>{{ camp.height }}</td> 
                        <td>{{ camp.info }}</td> 
                        <td>
                            <div class='col'>
                                <form action="{{ path('camp.edit', {id: camp.id}) }}">
                                    <button type="submit"  class="btn btn-secondary btn-sm" class="card-link">Modifier</button>
                                </form>   
                            </div>    
                        </td>   
                        <td>
                            <div class='col'>
                                <form action="{{ path('camp.delete', {id: camp.id}) }}">
                                    <button type="submit"  class="btn btn-danger btn-sm" class="card-link">Supprimer</button>
                                </form>   
                            </div>    
                        </td>                                              
                    </tr>
            </tbody>
            
            {% endfor %}

        </table>

    </div>
{% endblock %}

