{% extends 'twig_heritage/template.html.twig' %}

{% block title %}Liste des POI{% endblock %}

{% block body %}    

    <h1>Liste des POI</h1>
    {#Affichage du filtre#}

    <a href="#" id="openBtn" class="filter-toggle" >
        <p>Filtres +</p>
    </a>
    <a href="#" id="closeBtn" class="filter-toggle" style="display: none;">
        <p>Filtres -</p>
    </a>

    <div id="filter" style=" margin-bottom: 2em">
        
        {% if filterForm is defined %}
            {{ form_start(filterForm, {'method': 'GET'}) }}
                {{ form_row(filterForm.type) }}
                <button type="submit" class="btn btn-primary">Filtrer</button>
            {{ form_end(filterForm) }}
        {% endif %}
        
    </div>


   {#Affichage du tableau des markers après filtrage#}

    <div class="row">
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th scope="col"  class="tableauPoi" >Nom</th>   
                    <th scope="col" class="tableauPoi">Type</th>                    
                    <th scope="col" class="tableauPoi">Latitude (°)</th>
                    <th scope="col" class="tableauPoi">Longitude (°)</th>                   
                    <th scope="col" class="tableauPoi">Informations</th>
                    <th scope="col" class="tableauPoi">Priorité</th>
                    <th scope="col" class="tableauPoi">Modifié par</th>
                </tr>
            </thead>

            {% for marker in markers %}

            <tbody>
                    <tr>  
                        <th scope="row" >{{ marker.name }}</th> 
                        <td class="tableauPoi">{{ marker.type }}</td>
                        <td class="tableauPoi">{{ marker.latitude }}</td>
                        <td class="tableauPoi">{{ marker.longitude }}</td>
                        <td class="tableauPoi">{{ marker.details }}</td> 
                        <td class="tableauPoi">{{ marker.zIndex }}</td>
                        <td class="tableauPoi">{{ marker.modifiedBy.firstname}}</td> 
                        <td>
                            <div class='col'>
                                <form action="{{ path('marker.edit', {id: marker.id}) }}">
                                    <button type="submit"  class="btn btn-secondary btn-sm" class="card-link">Modifier</button>
                                </form>   
                            </div>    
                        </td>   
                        <td>
                            <div class='col'>
                                <form action="{{ path('marker.delete', {id: marker.id}) }}" method="post">

                                    <input type="hidden" name="_method" value="DELETE">                            

                                    <button type="submit"  class="btn btn-danger btn-sm" class="card-link">Supprimer</button>
                                </form>   
                            </div>    
                        </td>                                              
                    </tr>
            </tbody>
            
            {% endfor %}

        </table>
        {% if isPaginated %}
                <div class="row mt-3">
                    <nav aria-label="col Page navigation example">
                        <ul class="pagination">
                        {# Si première page on a pas de bouton Précédnet #}
                            {% if page != 1 %}
                            <li class="page-item">
                                <a class="page-link" href="{{ path('marker.list.filtered', {page: page-1, nbre: nbre}) }}?type={{ selectedType|url_encode }}">Précédent</a>
                            </li>
                            {% endif %}
                            {# Pour i entre 1 et nombre de page on affiche les i #}
                            {% for i in range(1, nbrePage) %}
                            <li class="page-item">
                                <a class="page-link" href="{{ path('marker.list.filtered', {page: i, nbre: nbre}) }}?type={{ selectedType|url_encode }}">{{ i }}</a>
                            </li>  
                            {% endfor %}   
                            {#Lorsque on est sur la dernière page on affiche pas le bouton suivant#}              
                            {% if page != nbrePage %}
                            <li class="page-item">
                                <a class="page-link" href="{{ path('marker.list.filtered', {page: page+1, nbre: nbre}) }}?type={{ selectedType|url_encode }}">Suivant</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
        
        {% endif %}
    </div>
   
{% endblock %}

