{% extends 'twig_heritage/template.html.twig' %}

{% block title %}Liste des POI Scènes{% endblock %}

{% block body %}    
{# affichage de toutes les personnes de la base de données #}
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nom</th>                            
                    <th scope="col">Latitude</th>
                    <th scope="col">Longitude</th>
                    <th scope="col">Icone</th>
                    <th scope="col">Largeur</th>
                    <th scope="col">Hauteur</th>
                    <th scope="col">Information</th>
                </tr>
            </thead>

            {% for scene in scenes %}

            <tbody>
                    <tr>  
                        <th scope="row">{{ scene.name }}</th>                 
                        <td>{{ scene.position.lat }}</td>
                        <td>{{ scene.position.lng }}</td>
                        <td>
                            <div>
                                <img src= "{{ asset('uploads/markers/' ~ scene.iconId) }}" height= 25em></td>
                            </div>
                        <td>{{ scene.width }}</td>
                        <td>{{ scene.height }}</td> 
                        <td>{{ scene.info }}</td> 
                        <td>
                            <div class='col'>
                                <form action="{{ path('scene.edit', {id: scene.id}) }}">
                                    <button type="submit"  class="btn btn-secondary btn-sm" class="card-link">Modifier</button>
                                </form>   
                            </div>    
                        </td>   
                        <td>
                            <div class='col'>
                                <form action="{{ path('scene.delete', {id: scene.id}) }}">
                                    <button type="submit"  class="btn btn-danger btn-sm" class="card-link">Supprimer</button>
                                </form>   
                            </div>    
                        </td>                                              
                    </tr>
            </tbody>
            
            {% endfor %}

        </table>

    </div>
{% endblock %}

