{% extends 'twig_heritage/template.html.twig' %}

{% block title %}Liste des POI Bar/Restauration{% endblock %}

{% block body %}    
{# affichage de toutes les personnes de la base de données #}
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nom</th>                            
                    <th scope="col">Latitude</th>
                    <th scope="col">Longitude</th>
                    <th scope="col">Icone</th>
                    <th scope="col">Largeur</th>
                    <th scope="col">Hauteur</th>
                    <th scope="col">Information</th>
                </tr>
            </thead>

            {% for park in parks %}

            <tbody>
                    <tr>  
                        <th scope="row">{{ park.name }}</th>                 
                        <td>{{ park.position.lat }}</td>
                        <td>{{ park.position.lng }}</td>
                        <td>
                            <div>
                                <img src= "{{ asset('uploads/markers/' ~ park.iconId) }}" height= 25em></td>
                            </div>
                        <td>{{ park.width }}</td>
                        <td>{{ park.height }}</td> 
                        <td>{{ park.info }}</td> 
                        <td>
                            <div class='col'>
                                <form action="{{ path('park.edit', {id: park.id}) }}">
                                    <button type="submit"  class="btn btn-secondary btn-sm" class="card-link">Modifier</button>
                                </form>   
                            </div>    
                        </td>   
                        <td>
                            <div class='col'>
                                <form action="{{ path('park.delete', {id: park.id}) }}">
                                    <button type="submit"  class="btn btn-danger btn-sm" class="card-link">Supprimer</button>
                                </form>   
                            </div>    
                        </td>                                              
                    </tr>
            </tbody>
            
            {% endfor %}

        </table>

    </div>
{% endblock %}

