{% extends 'twig_heritage/template.html.twig' %}

{% block title %}Liste des POI door/Restauration{% endblock %}

{% block body %}    
{# affichage de toutes les personnes de la base de données #}
<h1>Liste des accès</h1>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nom</th>                            
                    <th scope="col">Latitude (°)</th>
                    <th scope="col">Longitude (°)</th>
                    <th scope="col">Icone (png/jpg)</th>
                    <th scope="col">Largeur (20)</th>
                    <th scope="col">Hauteur (20)</th>
                    
                </tr>
            </thead>

            {% for door in doors %}

            <tbody>
                    <tr>  
                        <th scope="row">{{ door.name }}</th>                 
                        <td>{{ door.position.lat }}</td>
                        <td>{{ door.position.lng }}</td>
                        <td>
                            <div>
                                <img src= "{{ asset('uploads/markers/' ~ door.iconId) }}" height= 25em></td>
                            </div>
                        <td>{{ door.width }}</td>
                        <td>{{ door.height }}</td> 
                       
                        <td>
                            <div class='col'>
                                <form action="{{ path('door.edit', {id: door.id}) }}">
                                    <button type="submit"  class="btn btn-secondary btn-sm" class="card-link">Modifier</button>
                                </form>   
                            </div>    
                        </td>   
                        <td>
                            <div class='col'>
                                <form action="{{ path('door.delete', {id: door.id}) }}">
                                    <button type="submit"  class="btn btn-danger btn-sm" class="card-link">Supprimer</button>
                                </form>   
                            </div>    
                        </td>                                              
                    </tr>
            </tbody>
            
            {% endfor %}

        </table>

    </div>
{% endblock %}

