<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>
            {% block title %} 
                Live Events
            {% endblock %}
        </title>
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />    {# attention:: changer la syntaxe du html #}
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    
      
    <body>
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
             
            <a class="navbar-brand ps-3" href="{{ path('concert.list.alls') }}"><h1>Live Events</h1></a>
            
            <!-- Sidebar Toggle-->
           <!-- Format mobile    -->
            <ul class="navbar-nav me-auto d-lg-none ">
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item dropdown">
                    
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-bars"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item " href="{{ path('concert.edit') }}">Ajouter un concert</a>
                        <a class="dropdown-item " href="{{ path('concert.list.alls') }}">Modifier un concert</a>
                        <a class="dropdown-item " href="{{ path('scene.edit') }}">Ajouter un POI Scène</a>
                        <a class="dropdown-item " href="{{ path('scene.list.alls') }}">Modifier un POI Scène</a>
                        <a class="dropdown-item " href="{{ path('bar.edit') }}">Ajouter un POI Bar/Restauration</a>
                        <a class="dropdown-item " href="{{ path('bar.list.alls') }}">Modifier un POI Bar/Restauration</a>
                        <a class="dropdown-item " href="{{ path('park.edit') }}">Ajouter un POI Parking</a>
                        <a class="dropdown-item " href="{{ path('park.list.alls') }}">Modifier un POI Parking</a>
                        <a class="dropdown-item " href="{{ path('camp.edit') }}">Ajouter un POI Camping</a>
                        <a class="dropdown-item " href="{{ path('camp.list.alls') }}">Modifier un POI Camping</a>
                        <a class="dropdown-item " href="{{ path('door.edit') }}">Ajouter un POI Accès</a>
                        <a class="dropdown-item " href="{{ path('door.list.alls') }}">Modifier un POI Accès</a>
                        <a class="dropdown-item " href="{{ path('shop.edit') }}">Ajouter un POI Shop</a>
                        <a class="dropdown-item " href="{{ path('shop.list.alls') }}">Modifier un POI Shop</a>
                        <a class="dropdown-item " href="{{ path('wc.edit') }}">Ajouter un POI WC</a>
                        <a class="dropdown-item " href="{{ path('wc.list.alls') }}">Modifier un POI WC</a>
                        <a class="dropdown-item" href="{{ path('alert.edit') }}">Alertes</a>
                        <a class="dropdown-item" href="{{ path('contact.list.alls') }}">Message</a>
                        
                            
                    </ul>
                </li>                        
            {% endif %}
            </ul>
            <!-- Navbar-->
            {% if  is_granted('IS_AUTHENTICATED_FULLY')  %}
            <ul class="navbar-nav ms-auto  ">
                {# si l'utilisateur est authentifié #}
                <li class="nav-item dropdown  ">
                    
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                   
                        <li><a class="dropdown-item" href="{{path('app_login')}}">{{ app.user.email }}</a></li>
                        <li><a class="dropdown-item" href="{{path('app_logout')}}">Se déconnecter</a></li>
                    
            {% endif %}
                       
                        
                    </ul>
                </li>
            </ul>
            
        </nav>

        <!-- Format desktop-->
            <!-- Sous section Formation -->
        
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
            
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">  
                                               
                                                       {# ci-dessous:  lien href="{{ path('tab.users')}} où tab.users est le nom de la route dans le controller tabController #}
                                                                                  
                            {% if app.user %}
                                <div class="sb-sidenav-footer">
                                    <div class="small">Bonjour {{ app.user.email }}  </div>
                                    
                                </div>
                            {% endif %}
                            
                             <!-- Sous section CRUD Table Concert  -->
                            {% if is_granted('ROLE_ADMIN') %}
                             <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayoutsConcert" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Concerts
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>                          
                            <div class="collapse" id="collapseLayoutsConcert" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                {# ci-dessous:  lien href="{{ path('tab.users')}} où tab.users est le nom de la route dans le controller tabController #}
                                    <a class="nav-link" href="{{ path('concert.edit') }}">Ajouter</a>
                                    <a class="nav-link" href="{{ path('concert.list.alls') }}">Modifier</a>                                 
                                </nav>                                
                            </div>

                             <!-- Sous section CRUD Table Marker  --> 
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayoutsScene" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                POI Scène
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>                          
                            <div class="collapse" id="collapseLayoutsScene" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                {# ci-dessous:  lien href="{{ path('tab.users')}} où tab.users est le nom de la route dans le controller tabController #}
                                    <a class="nav-link" href="{{ path('scene.edit') }}">Ajouter</a>
                                    <a class="nav-link" href="{{ path('scene.list.alls') }}">Modifier</a>                                 
                                </nav>                                
                            </div>

                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayoutsBar" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                POI Bar/Restauration
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>                          
                            <div class="collapse" id="collapseLayoutsBar" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                {# ci-dessous:  lien href="{{ path('tab.users')}} où tab.users est le nom de la route dans le controller tabController #}
                                    <a class="nav-link" href="{{ path('bar.edit') }}">Ajouter</a>
                                    <a class="nav-link" href="{{ path('bar.list.alls') }}">Modifier</a>                                 
                                </nav>                                
                            </div>

                             <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayoutsPark" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                POI Parking
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>                          
                            <div class="collapse" id="collapseLayoutsPark" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                {# ci-dessous:  lien href="{{ path('tab.users')}} où tab.users est le nom de la route dans le controller tabController #}
                                    <a class="nav-link" href="{{ path('park.edit') }}">Ajouter</a>
                                    <a class="nav-link" href="{{ path('park.list.alls') }}">Modifier</a>                                 
                                </nav>                                
                            </div>

                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayoutsCamp" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                POI Camping
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>                          
                            <div class="collapse" id="collapseLayoutsCamp" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                {# ci-dessous:  lien href="{{ path('tab.users')}} où tab.users est le nom de la route dans le controller tabController #}
                                    <a class="nav-link" href="{{ path('camp.edit') }}">Ajouter</a>
                                    <a class="nav-link" href="{{ path('camp.list.alls') }}">Modifier</a>                                 
                                </nav>                                
                            </div>

                             <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayoutsDoor" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                POI Accès
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>                          
                            <div class="collapse" id="collapseLayoutsDoor" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                {# ci-dessous:  lien href="{{ path('tab.users')}} où tab.users est le nom de la route dans le controller tabController #}
                                    <a class="nav-link" href="{{ path('door.edit') }}">Ajouter</a>
                                    <a class="nav-link" href="{{ path('door.list.alls') }}">Modifier</a>                                 
                                </nav>                                
                            </div>

                             <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayoutsShop" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                POI Boutique
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>                          
                            <div class="collapse" id="collapseLayoutsShop" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                {# ci-dessous:  lien href="{{ path('tab.users')}} où tab.users est le nom de la route dans le controller tabController #}
                                    <a class="nav-link" href="{{ path('shop.edit') }}">Ajouter</a>
                                    <a class="nav-link" href="{{ path('shop.list.alls') }}">Modifier</a>                                 
                                </nav>                                
                            </div>

                             <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayoutsWc" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                POI WC
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>                          
                            <div class="collapse" id="collapseLayoutsWc" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                {# ci-dessous:  lien href="{{ path('tab.users')}} où tab.users est le nom de la route dans le controller tabController #}
                                    <a class="nav-link" href="{{ path('wc.edit') }}">Ajouter</a>
                                    <a class="nav-link" href="{{ path('wc.list.alls') }}">Modifier</a>                                 
                                </nav>                                
                            </div>

                            

                              <a class="nav-link" href="{{ path('alert.edit') }}">Alertes</a>

                               <a class="nav-link" href="{{ path('contact.list.alls') }}">Messages</a>

                            {%  endif  %} 
                            
                                               
                            
                             <!-- Section ADDONS -->
                            
                            
                            
                 
                    
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        {% block PageTitle %}
                    {# titre à insérer #}
                        {% endblock %}
                       
                        <div class="card mb-4">
                            <div class="card-body">

                                {# Afficher des messages flashBag  directement dans la base du template pour les avoir à toutes les pages #}
                                {# Message type info #}
                                {% for message in app.session.flashBag.get('info') %}
                                    <div class="alert alert-info">      <!-- class bootstrap pour la forme et couleur des messages-->
                                        {{ message }}
                                    </div>
                                {% endfor %}

                                {# Message type success #}
                                {% for message in app.session.flashBag.get('success') %}
                                    <div class="alert alert-success">      <!-- class bootstrap pour la forme et couleur des messages-->
                                        {{ message }}
                                    </div>
                                {% endfor %}

                                {# Message type error #}
                                {% for message in app.session.flashBag.get('error') %}
                                    <div class="alert alert-danger">      <!-- class bootstrap pour la forme et couleur des messages-->
                                        {{ message }}
                                    </div>
                                {% endfor %}



                                {% block body %}
                            {# corp de page à insérer #}
                                {% endblock %}
                            </div>
                        </div>
                        <div style="height: 100vh"></div>
                        <div class="card mb-4"><div class="card-body">When scrolling, the navigation stays at the top of the page. This is the end of the static navigation demo.</div></div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script> {# attention:: changer la syntaxe du html #}
        <script src="{{ asset('js/scripts.js') }}></script>
    </body>
</html>
